* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* @font-face {
    font-family: 'Notable';
    src: url(../font/Notable-Regular.ttf);
} */

/* Nav Design Starts  */

.navBar {
  width: 100%;
}

.navLeft {
  margin-left: 10px;
  color: #a085c8;
}

.navLeft img {
  width: 15%;
}

.navRight {
  background-color: #563d7c;
  display: flex;
  width: 100%;
  justify-content: end;
  border-bottom: 3px solid greenyellow;
}

.navRight a li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

.navRight a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navRight a:hover {
  background-color: #a085c8;
  transition-delay: 0.1s;
  color: white;
}

.active {
  background-color: #a085c8;
}

/* Nav Design Ends  */

main {
  background-color: #eee;
}

/* Video Starts */

/* .vdoTableContainer{
  display: flex;
} */

.vdoTitle {
  margin-top: 5px;
  text-align: center;
  color: #563d7c;
}

.vdoContainer {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  width: 99%;

  height: fit-content;
  border-radius: 5px;
  /* background-color: #a085c8; */
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px, #f1f3f5 0 5px 20px 0,
    rgb(0 0 0 / 5%) 0 3px 3px 0;

  display: flex;
}

.vdoContainer video {
  border-color: #a085c8;
  border-radius: 5px;
  border-style: double;
  border-width: 3px;
}

/* Table Starts */
.tableRight {
  width: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  background-color: #563d7c;
  color: white;
}

tr:nth-child(odd) {
  background-color: #d4bef4;
}

.btnGetStarted p {
  text-align: center;
  margin-top: 50px;
}

.btnGetStarted a {
  margin-top: 50px;
  text-align: center;
}

/* Table Ends */

/* Videos Ends */

/* Blog Starts */

.row {
  display: flex;
  margin-top: 10px;
}

.articleContainer {
  width: 70%;
  margin-left: 10px;
  border: 1px solid transparent;
  padding: 20px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px, #f1f3f5 0 5px 20px 0,
    rgb(0 0 0 / 5%) 0 3px 3px 0;
  border-radius: 5px;
}

.articleContainer article h2 {
  margin-top: 10px;
  font-family: "Notable";
  text-transform: uppercase;
  color: #775d9c;
}

.individualArticle {
  margin-top: 15px;
}

.individualArticle img {
  width: 260px;
  height: 130px;
  margin: 9px 0 9px 9px;
  border-radius: 5px;
  border: 1px solid #563d7c;
}

.individualArticle figure {
  float: right;
}

/* Sidebar Starts */

.sideBar {
  margin-left: 25px;
  width: 23%;
  padding: 35px;
  background-color: white;
  margin-top: 10px;
  /* margin-right: 10px; */
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px, #f1f3f5 0 5px 20px 0,
    rgb(0 0 0 / 5%) 0 3px 3px 0;
  border-radius: 5px;
}

.sidebarAsideBottom {
  border-bottom: 2px solid #563d7c;
  margin-top: 20px;
}

.authorSelf {
  margin-top: 30px;
}

.authorSelf img {
  width: 100%;
  margin-bottom: 20px;
}

.sideBarTitle {
  margin-bottom: 10px;
  color: #775d9c;
}

.sideBarList {
  margin-left: 30px;
  list-style-type: upper-roman;
}
/* Sidebar Ends */

/* Blog Ends */

/* Footer Starts */
footer {
  margin-top: 15px;
  line-height: 40px;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0.1%;
  width: 100%;
  background-color: #563d7c;
  color: white;
  text-align: center;
}
/* Footer Ends */

/* Contact From Starts */

.contactInfo{
  margin-top: 50px;
  color: #563d7c;
}

address{
  color: aliceblue;
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: larger;
}

.contactFormConatainer h4{
  margin-top: 20px;
}

input[type="text"],
[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #775d9c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a085c8;
}

.contactFormConatainer {
  border-radius: 5px;
  background-color: #ddcef2;
  padding: 20px;
}

fieldset {
  padding: 13px;
  border-radius: 4px;
  color: #775d9c;
}

/* Contact Form Sidebar Starts */

.contactPageSideBarTitle{
  margin-top: 25px;
}

.containerAside img {
  height: 271px;
  }

.containerAside:hover .image {
opacity: 0.6;
transition-delay: 0.1s;
}

/* Contact Form Sidebar Ends */

/* Contact Form Ends */


/* Product Page Stars */

.productPage{
  width: 100%;
  display: flex;
  background-color: #eee;
  margin-top: 15px;
}

.productPage h2{
  font-family: 'Notable';
}

.tempTitle{
  font-family: 'Notable';
}


.leftContainer{
  width: 33%;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 5px;
}

.articleTwoContainer{
  /* background-color: blue; */
  background-color: white;
  height: 200px;
  border-radius: 5px;
 }
 
 .articleFiveContainer{
  margin-top: 10px;
  background-color: white;
   height: 389px;
   border-radius: 5px;
 }

.middleContainer{
  width: 33%;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 5px;
}

.articleOneContainer{
  /* background-color: pink; */
  background-color: white;
  height: 600px;
  border-radius: 5px;
}

.bottomContainer{
  width: 66%;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 5px;
  float: right;
}

.articleSixContainer{
  margin-top: 10px;
  background-color: white;
   height: 100px;
   border-radius: 5px;
}

.articleTempContainer{
  width: 33%;
  
  height: 100px;
}


.rightContainer{
  width: 33%;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 5px;
}

.articleThreeContainer{
    /* background-color: pink; */
    background-color: white;
    height: 300px;
    border-radius: 5px;
}

.articleFourContainer{
  margin-top: 10px;
  background-color: white;
   height: 300px;
   border-radius: 5px;
}


/* Sidebar ProudctPage */
.sideBarProductPage{
  margin-left: 25px;
  padding: 35px;
  background-color: white;
  margin-top: 10px;
  /* margin-right: 10px; */
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px, #f1f3f5 0 5px 20px 0,
    rgb(0 0 0 / 5%) 0 3px 3px 0;
  border-radius: 5px;
}

.sidebarAsideProductPage{
  display: flex;
}

.containerAsideProductPage{
  width: 33%;
  margin: 5px;
}

.containerAsideProductPage img {
  height: 271px;
  }

.containerAsideProductPage:hover .image {
opacity: 0.6;
transition-delay: 0.1s;
}

/* Sidebar ProductPage Ends */


/* Product Page Ends */

/* Pricing Page Starts */

.pricingPageTop{
  margin-left: 10px;
  margin-right: 10px;
}

.tblContainer th{
  background-color: #563d7c;
  color: white;
}


.tableSpan{
  text-align: center;
}

/* Pricing Page Ends */
